.group:before,
.group:after {
    content: "";
    display: table;
}
.group:after {
    clear: both;
}
.group {
    zoom: 1;
}
.row {
}
.span6 {
  float: left;
  width: 50%;
}

body {
  margin: 0px;
}
a {
  text-decoration: none;
}
a:hover,
a:focus {
  text-decoration: underline;
}
#site-header {
  background-color: #1254A5;
}
.site-logo {
  float: left;
}
#mini-cart {
  background-color: #68AAEE;
  float: right;
}
#mini-cart a {
  color: #FFF;
}

@media (max-width: 767px) {
  .span6 {
    float: none;
    width: 100%;
  }
}
