<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="keywords" content="">
    <meta name="description" content="">
    <title>Store</title>

    <link href="css/owl.carousel.css" rel="stylesheet" type="text/css">
    <link href="css/store.css" rel="stylesheet" type="text/css">
    <script id="home-template" type="text/template">
      <section id="home-slider">
        <div class="item"><img src="img/home-slide-1.jpg" alt="Slide 1"></div>
        <div class="item"><img src="img/home-slide-2.jpg" alt="Slide 2"></div>
        <div class="item"><img src="img/home-slide-3.jpg" alt="Slide 3"></div>
      </section>
      <section id="home-featured-products">
        FEATURED PRODUCTS
        <a href="#products">See all products</a>
      </section>
    </script>
    <script id="products-list-template" type="text/template">
      <h1>Items</h1>
      <ul class="products-list"></ul>
    </script>
    <script id="products-list-item-template" type="text/template">
      <h2><a href="#products/<%= id %>"><%= name %></a></h2>
      <p>Price: <%= _.formatCurrency(price) %></p>
      <p>Rating: <%= rating %></p>
    </script>
    <script id="product-details-template" type="text/template">
      <section class="row group">
        <div class="span6">
          <img src="" alt="<%= name %>">
        </div>
        <div class="span6">
          <h1><%= name %></h1>
          <p>Price: <%= _.formatCurrency(price) %></p>
          <p>Description: <%= description %></p>
          <p>Stock: <%= stock %></p>
          <form>
            <input type="number" name="quantity" min="1" value="1">
            <button type="submit" data-type="add-to-cart">Add To Cart</button>
          </form>
        </div>
      </section>
      <section id="product-reviews" class="row group"></section>
    </script>
    <script id="cart-template" type="text/template">
      <h1>Shopping Cart</h1>
      <% var orderLines = this.collection.models; %>
      <% if (orderLines && orderLines.length) { %>
        <table border="1">
          <thead>
            <tr>
              <th>Item</th>
              <th>Quantity</th>
              <th>Item Price</th>
            </tr>
          </thead>
          <tbody>
            <% _.each(orderLines, function (line) { %>
              <% var product = line.get('product'); %>
              <tr>
                <td><a href="#products/<%= product.get('id') %>"><%= product.get('name') %></a></td>
                <td>
                  <form>
                    <input type="hidden" name="id" value="<%= product.get('id') %>" data-id="<%= product.get('id') %>">
                    <input type="number" name="quantity" min="1" value="<%= line.get('quantity') %>" data-id="<%= product.get('id') %>">
                  </form>
                  <a href="#cart" data-action="remove-item" data-id="<%= product.get('id') %>">Remove</a>
                </td>
                <td><%= _.formatCurrency(product.get('price')) %></td>
              </tr>
            <% }); %>
            <tr>
              <td colspan="2">Cart Total</td>
              <td><%= _.formatCurrency(this.collection.getTotalCost()) %></td>
            </tr>
          </tbody>
        </table>

        <div class="row">
          <a href="#products">Continue Shopping</a>
          <a href="#">Proceed to Checkout</a>
        </div>
      <% } else { %>
        <p>Your shopping cart is empty.</p>
        <a href="#products">Continue Shopping</a>
      <% } %>
    </script>
    <script id="mini-cart-template" type="text/template">
      <p><a href="#cart">Items: <%= count %> (<%= _.formatCurrency(cost) %>)</a></p>
    </script>
    <script id="product-reviews-template" type="text/template">
      <% var reviews = this.collection.models; console.log(reviews, this) %>
      <% if (reviews && reviews.length) { %>
        <h2>Reviews</h2>
        <% _.each(reviews, function (review, index) { %>
          <article class="review">
            <p>Rating: <%= review.get('rating') %></p>
            <time><%= review.get('time') %></time>
            <blockquote>
              <p><%= review.get('comment') %></p>
              <small><%= review.get('author') %></small>
            </blockquote>
          </article>
        <% }); %>
      <% } else { %>
        <p>No reviews available</p>
      <% } %>
    </script>
  </head>
  <body>
    <header id="site-header" class="group">
      <a href="#" class="site-logo"><img src="" alt="Home"></a>
      <aside id="mini-cart"></aside>
    </header>

    <div id="container">
    </div>

    <footer id="site-footer">
    </footer>

    <script src="js/jquery-1.11.1.min.js"></script>
    <script src="js/underscore.js"></script>
    <script src="js/backbone.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/store.js"></script>
  </body>
</html>
